@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500&display=swap');
*{padding:0;margin:0;box-sizing:border-box;outline:none;}
body{width:100%;font-family:Open Sans,'Raleway';}
html{font-family:'Raleway',Open Sans;}
a{text-decoration:none;color:inherit;}
li{list-style:none;}
header{background:linear-gradient(200.44deg, rgba(0, 0, 0, 0.0001) 16.41%, rgba(0, 0, 0, 0.51) 77.16%),url(../image/etienne-beauregard-riverin-B0aCvAVSX8E-unsplash.jpg)}
header{background-position:center;background-repeat:no-repeat;background-size:cover;height:650px;}
header nav{width:85%;margin:auto;color:white;}
nav .navbarHome{display:flex;align-items:center;border-bottom:1px solid #fff;padding-top:15px;}
.navbarListHome ul{display:flex;align-items:center;margin-top:7px;}
.navbarHome .navbarListHome{width:70%;}
.homeLink{margin-right:30px;}
.navbarListHome ul li{margin:10px 15px 0px 15px;padding:0px 8px 0px 8px;font-weight:600;}
.homeLink a img{width:100px;}
.homeLink{width:30%;}
.navbarListHome ul li::after{content:'';position:relative;display:block;height:2px;background-color:#fff;width:0%;
margin-top:20px;transition:width .3s;}
.navbarListHome ul li:hover::after{width:100%;}
header .backgroundHome{width:85%;margin: 30px auto 0 auto;}
.homeLink span{display:none;}
header .backgroundHome{display:flex;align-items:center;}
.backgroundHome .backgroundText{width:50%;}
.backgroundHome .backgroundMapImage{width:50%;}
.backgroundText p{text-align:start;color:#fff;font-weight:700;font-size:40px;text-transform:capitalize;
font-family:'DM Sans';line-height:50px;letter-spacing:1px;}
.mapForm select option, .mapForm select{font-family:'Raleway';font-weight:600;appearance:none;text-align:center;}
.mapForm select, .mapForm button{padding:17px 20px;border:.5px solid #cedee7;}
.mapForm select option{padding:8px 0;}
.mapForm select{width:125px;}
.mapForm select:nth-child(2){margin-left:-1px;width:178px;}
.mapForm{display:flex;}
.mapForm select:nth-child(1){border-top-left-radius:5px;border-bottom-left-radius:5px;}
.mapForm button[type="submit"] .fa-magnifying-glass{font-size:20px;color:#fff;}
.mapForm button[type="submit"]{background:#23A6F0;border-top-right-radius:5px;border-bottom-right-radius:5px;margin-left:-1px;
    border:.5px solid #23A6F0;text-align:center;}
.imageMap{width:80%;margin:auto;}
.mapDetail{width:90%;margin:auto;display:flex;justify-content:center;}
.mapForm{padding:15px 20px;background-color:#fff;border-radius:10px;}
.mapImage{display:flex;justify-content:center;}
.allMain{width:85%;margin:auto;}
.allPropertyList{width:80%;margin:auto;}
main section:nth-child(2){background-color:#F5F5F5;padding:55px 0 60px 0;}
main{margin:60px 0;margin-bottom:0px;}
.mainHeaderNote p,.allHeaderNote p {text-transform:capitalize;font-size:30px;font-weight:800;font-family:'Inter',sans-serif;letter-spacing:-1px;}
.mainHeaderNote p span, .allHeaderNote p span{border-bottom:3px solid #F4511E;padding-bottom:5px;}
.mainImage{display:flex;margin-top:20px;align-items:center;justify-content:space-between;}
.mainImageHome{width:35%;margin-left:-40px;}
.mainIcon{width:65%;}
.mainImageHome img{width:400px;}
.dollarIcon p{border:3px solid #F4511E;text-align:center;border-radius:50%;width:100%;height:100%;display:flex;align-items:center;justify-content:center;}
.iconListOne ul{display:flex;margin:30px 0;}
.dollarIcon p .fa-dollar-sign, .dollarIcon p .fa-building, .dollarIcon p .fa-database, .dollarIcon p .fa-leaf,
.dollarIcon p .fa-moon, .dollarIcon p .fa-shield
{color:#F4511E;padding:3px 5px;font-size:30px;}
.iconListOne ul li .dollarIcon{padding:8px 10px;box-shadow:0px 12px 19px rgba(0, 0, 0, 0.15);border-radius:10px;background-color:#fff;display:inline-block;}
.iconListOne ul li .dollarNote p{font-weight:600;font-size:20px;font-family:'Inter',sans-serif;text-transform:capitalize;margin-top:20px;}
.iconListOne ul li .dollarNote{margin-top:15px;}
.iconListOne ul li .dollarIcon{width:77px;height:74px;}
.iconListOne ul li{width:33.33%;}
.iconListOne ul:nth-child(2){margin-top:50px;}
.iconListOne ul:nth-child(1){margin-top:0px;}
.allHeaderNote{display:flex;align-items:center;justify-content:space-between;}
.allHeaderNote a{background-color:#F4511E;padding:15px 25px;text-transform:capitalize;color:#fff;
    border-radius:5px;font-weight:600;font-size:12px;}
.allHeaderNote{padding-bottom:40px;}
.mainPropertyImage ul{display:flex;align-items:center;justify-content:space-between;}
.mainPropertyImage ul li{background-color:#fff;width:33.33%;border:1px solid #979797;margin:0 10px;
    border-top-left-radius:27px;border-top-right-radius:27px;border-bottom-left-radius:26px;border-bottom-right-radius:26px}
.mainPropertyImage ul li figure img{width:100%;height:200px;border-top-left-radius:27px;border-top-right-radius:27px;}
.mainPropertyImage ul li figure figcaption p:nth-child(1){font-weight:600;font-size:17px;text-transform:capitalize;
    ;font-family:'DM Sans';padding:20px 35px 20px 35px;}
.mainPropertyImage ul li:first-child{margin-left:0px;}
.mainPropertyImage ul li:last-child{margin-right:0px;}
/* .mainPropertyImage ul li figure figcaption{padding:15px 25px 0 25px;} */
.mainPropertyImage ul li figure figcaption p:nth-child(2){font-weight:600;font-size:17px;text-transform:capitalize;font-family:'DM Sans';
padding-top:3px;color:#F4511E;padding:0px 35px 20px 35px;}
.mainPropertyImage ul li:hover{box-shadow:0px 34.0693px 36.1986px rgba(0, 0, 0, 0.133714);border:none;transition:box-shadow .5s;}
.mainPropertyImage ul li figure figcaption .propertyIcon{display:flex;align-items:center;justify-content:space-between;border-top:1px solid #eeeeee;}
.mainPropertyImage ul li figure figcaption .propertyIcon p{width:33.33%;text-align:center;margin-right:-1px!important;padding:10px 15px;border-left:1px solid #e4e4e4;border-right:1px solid #e4e4e4;}
.mainPropertyImage ul li figure figcaption .propertyIcon p{margin:0;border-radius:0;display:flex;align-items:center;justify-content:center;}
.mainPropertyImage ul li figure figcaption .propertyIcon p:first-child{border-bottom-left-radius:26px;border:none;}
.mainPropertyImage ul li figure figcaption .propertyIcon p:last-child{border-bottom-right-radius:26px;border:none;}
.mainPropertyImage ul li figure figcaption .propertyIcon p{margin-right:0px!important;}
.mainPropertyImage ul li figure figcaption .propertyIcon p .fa-car, .mainPropertyImage ul li figure figcaption 
.propertyIcon p .fa-shower, .mainPropertyImage ul li figure figcaption .propertyIcon p .fa-dungeon{margin-right:10px;}
.mainPropertyImage ul li figure figcaption .propertyIcon p span{font-size:15px!important;font-weight:600;font-family:'DM Sans';color:#000!important;}
.mainPropertyImage ul li figure figcaption p span{text-transform:capitalize;font-size:12px;color:#818181;font-weight:100;}
.fa-car, .fa-shower, .fa-dungeon{font-size:12px;}
.mainPropertyImage ul li figure figcaption .propertyIcon p{padding:20px 10px;color:#000;}
.mainPropertyImage ul{margin:50px 0;}
.mainPropertyImage ul:first-child{margin-top:0;}
.mainPropertyImage ul:last-child{margin-bottom:80px;}
.clickPages ul{display:flex;border:1px solid #dbdbdb;border-radius:10px;align-items:center;background-color:#fff;}
.clickPages ul li{padding:20px 0px;border:1px solid #dbdbdb;margin-right:-1px;margin-top:-1px;margin-bottom:-1px;}
.clickPages ul li a{color:#F4511E;font-weight:600;font-size:13px;padding:20px;}
.clickPages{display:flex;justify-content:center;}
.clickPages ul li:first-child{border-top-left-radius:10px;border-bottom-left-radius:10px;margin-left:-1px;}
.clickPages ul li:last-child{border-top-right-radius:10px;border-bottom-right-radius:10px;}
.clickPages ul li:hover{background-color:#F4511E;transition:background-color .4s;}
.clickPages ul li:hover a{color:#fff;}
.imageAndNote{width:80%;margin:auto;display:flex;align-items:center;}
.imagesHome, .noteHome{width:50%;}
.imagesHome ul li{width:50%;padding:10px 0;border-radius:20px;}
.imagesHome ul{display:flex;flex-wrap:wrap;}
.imagesHome ul li .imageOne{background:linear-gradient(200.44deg, rgba(0, 0, 0, 0.0001) 16.41%, rgba(0, 0, 0, 0.51) 77.16%),url(../image/unsplash_nEtpvJjnPVo.jpg);height:334px;}
.imagesHome ul li .imageTwo{background:linear-gradient(200.44deg, rgba(0, 0, 0, 0.0001) 16.41%, rgba(0, 0, 0, 0.51) 77.16%),url(../image/Image2.jpg);height:250px;}
.imagesHome ul li .imageThree{background:linear-gradient(200.44deg, rgba(0, 0, 0, 0.0001) 16.41%, rgba(0, 0, 0, 0.51) 77.16%),url(../image/unsplash_uooMllXe6gE.jpg);height:285px;}
.imagesHome ul li .imageFour{background:linear-gradient(200.44deg, rgba(0, 0, 0, 0.0001) 16.41%, rgba(0, 0, 0, 0.51) 77.16%),url(../image/unsplash_XdWkFaHI97c.jpg);height:356px;}
.imagesHome ul li .imageOne, .imagesHome ul li .imageTwo, .imagesHome ul li .imageThree, .imagesHome ul li .imageFour{
    width:90%;;background-position:center;background-size:cover;background-repeat:no-repeat;}
.imageOne, .imageTwo, .imageThree, .imageFour{width:90%;margin:auto;}
.imageAndNote{margin-top:30px;margin-bottom:70px;}
.imagesHome ul li .imageOne, .imagesHome ul li .imageTwo, .imagesHome ul li .imageThree, .imagesHome ul li .imageFour{
    border-radius:20px;text-align:center;padding:30px 30px 0px 30px;}
.imagesHome ul li:nth-child(3){width:40%;}
.imagesHome ul li:nth-child(4){width:60%;}
.imagesHome ul li:nth-child(1){width:50%;}
.imagesHome ul li:nth-child(2){width:50%;margin-top:83px;}
.imagesHome ul li .imageTwo{width:80%;margin-left:10px;}
.imageOne p, .imageTwo p, .imageThree p, .imageFour p{font-weight:600;color:#fff;font-family:'Inter';}
.noteHome .notes{width:80%;margin:auto;}
.noteHome .notes p:first-child{font-weight:800;color:#000;font-family:'Inter';font-size:39px;}
.noteHome .notes p:nth-child(2){line-height:30px;margin-top:25px;font-family:'Inter';margin-bottom:60px;}
.noteHome .notes a{padding:15px 20px;border:2px solid #F4511E;;font-family:'Inter';color:#000;}
.noteHome .notes a::before{content:"";height:52px;width:0%;display:block;position:absolute;top:-1px;left:0;background-color:#F4511E;
;z-index:-999;transition:all .4s;}
.noteHome .notes a{position:relative;z-index:2;color:#F4511E;font-weight:600;}
.noteHome .notes a:hover::before{width:100%;}
.noteHome .notes a:hover{color:#fff;}
.propertyForm{width:80%;margin:auto;}
.propertyFormHeaderNote p{font-family:'Inter';font-weight:600;font-size:20px;}
.propertyFormHeaderNote{text-align:center;}
.formHome{width:100%;box-shadow:0px 4px 63px rgba(0, 0, 0, 0.15);border-radius:10px;margin-top:30px;padding:30px 45px 50px 45px;margin-bottom:50px;}
.formHome p{text-align:center;font-family:'Poppins';font-weight:600;color:#F4511E;margin-top:15px;margin-bottom:45px;font-size:20px;}
.fillForm form{width:100%;}
.ulOne ul{display:flex;}
.ulOne ul li{width:33.33%;margin:0 20px;}
.ulOne ul li input[type="text"], .ulOne ul li input[type="number"]{width:100%;padding:13px 8px;border:1px solid #E6E6E6;
margin-top:10px;border-radius:5px;background-color:#f9f9f9;font-family:'Inter';}
.ulOne ul li:first-child{margin-left:0;}
.ulOne ul li:last-child{margin-right:0;}
.ulOne ul li label span{color:#F4511E;font-size:20px;font-weight:600;}
.ulOne ul li label{font-weight:600;}
.ulTwo{margin-top:30px;}
.ulTwo ul{display:flex;}
.ulTwo ul li{width:33.33%;margin:0 20px;}
.ulTwo ul li select{width:100%;padding:13px 8px;border:1px solid #E6E6E6;position:relative;appearance:none;
margin-top:10px;border-radius:5px;background-color:#f9f9f9;font-family:'Inter';}
.ulTwo ul li:first-child{margin-left:0;}
.ulTwo ul li:last-child{margin-right:0;}
.ulTwo ul li label span{color:#F4511E;font-size:20px;font-weight:600;}
.ulTwo ul li label{font-weight:600;}
.ulThree{margin-top:30px;}
.ulThree ul{display:flex;}
.ulThree ul li{width:33.33%;margin:0 20px;}
.ulThree ul li select,.ulThree ul li input[type="number"]{width:100%;padding:13px 8px;border:1px solid #E6E6E6;position:relative;appearance:none;
margin-top:10px;border-radius:5px;background-color:#f9f9f9;font-family:'Inter';}
.ulThree ul li:first-child{margin-left:0;}
.ulThree ul li:last-child{margin-right:0;}
.ulThree ul li label span{color:#F4511E;font-size:20px;font-weight:600;}
.ulThree ul li label{font-weight:600;}
.descriptionNote{margin-top:30px;}
.descriptionNote textarea{resize:none;width:100%;padding:13px 8px;border:1px solid #E6E6E6;margin-top:10px;
    border-radius:5px;background-color:#f9f9f9;font-family:'Inter';}
.descriptionNote label span{color:#F4511E;font-size:20px;font-weight:600;}
.descriptionNote label{font-weight:600;}
.descriptionNote textarea::-webkit-scrollbar{width:10px;}
.descriptionNote textarea::-webkit-scrollbar-thumb{background:#888;border-radius:10px;}
.descriptionNote textarea::-webkit-scrollbar-track{background:#f1f1f1;border-radius:10px;}
.descriptionNote textarea::-webkit-scrollbar-thumb:hover{background: #555}
.uploadImage{margin-top:30px;}
.uploadImage textarea{resize:none;width:100%;padding:13px 8px;border:1px solid #E6E6E6;margin-top:10px;
    border-radius:5px;background-color:#f9f9f9;font-family:'Inter';}
.uploadImage label span{color:#000;font-size:15px;font-weight:600;padding-bottom:15px;}
.uploadImage label{font-weight:600;padding:20px;}
.uploadImage .imageFile{width:100%;border:2px dashed #F4511E;border-radius:10px;}
.uploadImage .imageFile input[type="file"]{position:relative;font-family:'Inter';text-align:center!important;}
.uploadImage p{text-align:justify;font-family:inherit;font-size:initial;color:#000;margin-bottom:10px;}
.uploadImage p span{color:#F4511E;font-size:20px;font-weight:600;}
.drop-container{display:flex;flex-direction:column;justify-content:center;align-items:center;}
.uploadImage label span span{color:#F4511E;}
.uploadImage .imageFile input[type=file]::file-selector-button{margin-right:10px;text-align:center!important;position:relative;
padding:10px 20px;background-color:#F4511E;border:none;border-radius:10px;font-family:'Inter';color:#fff;}
.drop-container p{font-size:10px;color:rgba(0, 0, 0, 0.5);margin-bottom:0;}
form .submitBtn{width:100%;text-align:center;margin-top:50px;}
form .submitBtn button{padding:15px 45px;border-radius:9.07965px;background-color:#F4511E;border:1px solid #F4511E;
color:#fff;font-family:'Inter';}
.propertyFormHeaderNote p{margin:15px 0;}
.videoHome{width:100%;margin:auto;background-color:rgba(244,81,30,0.07);margin-bottom:60px;margin-top:90px;}
.videoHome .loremNote{width:55%;padding-bottom:40px;}
.videoHome .videoTag{width:45%;}
.loremNote .pNote p{line-height:40px;padding-top:30px;padding-right:30px;font-family:'Inter';}
.videoTag video{width:100%;height:100%;}
.loremNote .picImage{display:flex;align-items:center;margin-top:20px;}
.videoAndNote{width:92%;display:flex;margin-left:auto;align-items:center;}
.picImage ul li:first-child{color:#F4511E;font-family:'Inter';font-weight:700;margin-bottom:3px;}
.picImage .picTag{margin-right:10px;}
.picImage .picTag img{max-width:61px;max-height:61px;}
.picImage ul li:last-child{color:#18191F;font-family:'Inter';font-weight:400;font-size:12px;margin-top:3px;}
.loremNote .pNote{position:relative;margin-top:60px;}
.loremNote .columnArrow{position:absolute;z-index:-99;left:-8%;}
.columnArrow img{opacity:.3;}
.loremNote .dots ul{display:flex}
.loremNote .dots ul li{width:8px;height:8px;background-color:#D9DBE1;border-radius:50%;margin:0 4px;}
.loremNote .dots ul li:first-child{margin-left:0;background-color:#F4511E;}
.loremNote .dots ul li:last-child{margin-right:0;}
.loremNote .dots{margin-top:40px;}
.homeFooter{width:80%;margin:auto;border-top:2px solid #F4511E;padding-top:40px;display:flex;align-items:center;
padding-bottom:65px;}
.homeFooter .footerHomeImage,.homeFooter .homeSocialMedia{width:50%;}
.homeFooter .homeSocialMedia{padding-left:40px;}
.homeFooter .footerHomeImage{background-color:#E6E6E6;text-align:center;}
.homeFooter .footerHomeImage img{width:80%;}
.homePhoneNumber ul{display:flex;}
.homePhoneNumber ul li i, .homeAddress p i{color:#F4511E;font-size:18px;}
.homeAddress p i, .homePhoneNumber ul li i{margin-right:10px;}
.homePhoneNumber ul li:first-child{margin-right:60px;}
.linkSocialMedia{display:flex;align-items:center;}
.linkSocialMedia ul{display:flex;}
.linkSocialMedia ul li a i{color:#F4511E;}
.linkSocialMedia ul li a{padding:7px 5px;}
.linkSocialMedia ul li{margin:0 5px;}
.homeSocialMedia .homeAddress{margin-bottom:20px;}
.homeAddress p{font-family:'Assistant';}
.homePhoneNumber ul li{font-family:'Assistant';}
.homePhoneNumber{margin-bottom:35px;}
.linkSocialMedia p{font-family:'Assistant';color:#0A142F;opacity:.7;font-size:12px;margin-right:20px;}
.footerBottom{width:75%;margin:auto;display:flex;align-items:center;justify-content: space-between;border-top:1px solid #7BB9FC;
padding-top:45px;}
.homeBottom ul{display:flex;}
.homeBottom ul li{margin:0 5px;padding:0 5px 5px 5px;text-transform:uppercase;font-family:'Inter';
font-size:15px;}
.homeBottom ul li::after{content:"";position:relative;display:block;height:2px;width:0%;background-color:#000;
transition:width .4s;}
.homeBottom ul li:hover::after{width:100%;}
.homeBottom ul li:first-child{margin-left:0;padding-left:0;}
footer{margin-bottom:60px;}
.homeCopy p{font-family:'Inter';opacity:.7;font-size:13px;padding-bottom:10px;}
.homeBottom ul li a{padding:5px 0;}